### 10 Jun 2024

### Importar datos con  `read_csv()` y otros métodos

### Usaremos el dataset de iris

<img src="iris_1.png" width="300" height="200">

Usaremos la librería `pandas` para importar nuestro dataset

In [5]:
!pip install yfinance

Requirement already satisfied: yfinance in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (0.2.40)
Requirement already satisfied: pandas>=1.3.0 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from yfinance) (2.2.1)
Requirement already satisfied: numpy>=1.16.5 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from yfinance) (5.2.2)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from yfinance) (3.17.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/diplomado_cdd/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2024.2.2)

In [ ]:
import pandas as pd
import yfinance as yf
import os

In [7]:
os.getcwd() #current working directory

'/Users/alexiscaballero/Documents/DIPLOMADO CDD UNAM/M1G2'

In [ ]:
#método read_csv() para importar archivos .csv
 # iris = pd.read_csv("iris.csv")

In [8]:
iris = pd.read_csv("/Users/alexiscaballero/Documents/DIPLOMADO CDD UNAM/M1G2/iris.csv")

In [9]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
#LDA = Linear Discriminant Analysis

In [10]:
type(iris)

pandas.core.frame.DataFrame

In [ ]:
# supongamos queremos importar sólo una columna COMO una serie:

`squeeze()` fuerza a que el df **sea una Serie**

In [13]:
iris = pd.read_csv("iris.csv", usecols= ["species"]).squeeze()
iris.head() #nos muestra los primeros 5 registros

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [15]:
iris.head(3)

0    setosa
1    setosa
2    setosa
Name: species, dtype: object

In [16]:
type(iris)

pandas.core.series.Series

In [ ]:
#tail() --> regresa los últimos 5 registros

In [17]:
iris.tail()

145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, dtype: object

In [18]:
sorted(iris) #ordena de forma ascendente

['setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica']

In [19]:
list(iris)

['setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica']

In [20]:
#Descargar datos del precio de la acción de Apple sobre un período determinado:
apple_s = yf.download('AAPL', start = '2020-01-01', end= '2021-01-01')
apple_s.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  74.059998  75.150002  73.797501  75.087502  72.960449  135480400
2020-01-03  74.287498  75.144997  74.125000  74.357498  72.251144  146322800
2020-01-06  73.447502  74.989998  73.187500  74.949997  72.826836  118387200
2020-01-07  74.959999  75.224998  74.370003  74.597504  72.484344  108872000
2020-01-08  74.290001  76.110001  74.290001  75.797501  73.650352  132079200

In [40]:
apple = apple_s['Adj Close']
apple = apple.copy()
apple.head()

Date
2020-01-02    72.960449
2020-01-03    72.251144
2020-01-06    72.826836
2020-01-07    72.484344
2020-01-08    73.650352
Name: Adj Close, dtype: float64

In [41]:
#tenemos funciones como min(), max(), mean():
max(apple)

133.9649658203125

In [42]:
min(apple)

54.63289260864258

In [43]:
max(iris)

'virginica'

In [44]:
min(iris)

'setosa'

In [45]:
apple

Date
2020-01-02     72.960449
2020-01-03     72.251144
2020-01-06     72.826836
2020-01-07     72.484344
2020-01-08     73.650352
                 ...
2020-12-24    129.339081
2020-12-28    133.964966
2020-12-29    132.181198
2020-12-30    131.054123
2020-12-31    130.044678
Name: Adj Close, Length: 253, dtype: float64

In [46]:
apple.values

array([ 72.96044922,  72.25114441,  72.82683563,  72.48434448,
        73.65035248,  75.21476746,  75.38478088,  76.99533844,
        75.95563507,  75.63011932,  76.57749176,  77.42529297,
        76.90058899,  77.1750946 ,  77.54676056,  77.32327271,
        75.04957581,  77.17266846,  78.78807068,  78.67389679,
        75.18559265,  74.97911835,  77.45443726,  78.08604431,
        78.99939728,  77.92558289,  78.2957077 ,  77.82331848,
        79.67144012,  79.10409546,  79.12359619,  77.67478943,
        78.79972839,  77.99134064,  76.22599792,  72.6052475 ,
        70.14593506,  71.25870514,  66.60067749,  66.56169891,
        72.7586441 ,  70.44787598,  73.71555328,  71.32444   ,
        70.37728119,  64.81098175,  69.47877502,  67.06574249,
        60.44268036,  67.68421173,  58.97683334,  61.57004547,
        60.06282043,  59.6026268 ,  55.81871796,  54.63289261,
        60.1139679 ,  59.78281021,  62.92875671,  60.32337189,
        62.04486847,  61.91826248,  58.66028976,  59.63914108,
        58.78204727,  63.91004181,  63.16981888,  64.78662872,
        65.25411224,  66.53490448,  69.8951416 ,  69.25718689,
        69.80749512,  68.86026764,  67.43096924,  65.3466568 ,
        67.22887421,  66.96831512,  68.90167236,  68.95037842,
        67.83274078,  70.06071472,  71.53871918,  70.38700104,
        71.38289642,  72.45427704,  73.20181274,  73.95906067,
        75.71941376,  76.9108963 ,  76.03192902,  75.11391449,
        75.57537079,  75.12857056,  76.89867401,  76.45433807,
        77.94121552,  77.36012268,  77.85820007,  77.33081818,
        77.66775513,  77.70192719,  77.62624359,  78.5809021 ,
        78.94467926,  79.37928772,  78.69565582,  80.93696594,
        81.41551208,  83.98644257,  86.14723969,  82.01126099,
        82.71929169,  83.7423172 ,  85.96168518,  85.84204102,
        85.87620544,  85.3854599 ,  87.61946869,  89.48969269,
        87.91000366,  89.07706451,  86.34011841,  88.32994843,
        89.06728363,  88.8988266 ,  88.8988266 ,  91.27690887,
        90.99365234,  93.1129303 ,  93.51333618,  93.67692566,
        93.24478149,  94.78781128,  95.43969727,  94.26533508,
        94.07489777,  96.05741882,  94.73165894,  94.99780273,
        90.67383575,  90.44920349,  92.59289551,  91.07180786,
        92.81751251,  93.94060516, 103.77513123, 106.38999939,
       107.10050201, 107.48871613, 111.23889923, 108.70980072,
       110.28987122, 107.00987244, 110.56625366, 112.52301788,
       112.42273712, 112.12921906, 113.06358337, 113.20544434,
       115.71741486, 121.68063354, 123.13594818, 122.1257782 ,
       123.78656769, 122.30678558, 122.10865784, 126.24962616,
       131.27851868, 128.55859375, 118.26608276, 118.34435272,
       110.38037872, 114.78308105, 111.03588104, 109.57810974,
       112.86544037, 113.0415802 , 109.70530701, 107.95399475,
       104.52968597, 107.69962311, 109.39221191, 104.80362701,
       105.87985229, 109.85206604, 112.47411346, 111.6229248 ,
       113.3057251 , 114.26454163, 110.57604218, 113.9808197 ,
       110.71303558, 112.59151459, 112.48387909, 114.44064331,
       121.70998383, 118.48132324, 118.56937408, 118.09976959,
       116.44630432, 113.4720459 , 114.96894836, 114.34281158,
       113.24702454, 112.55236816, 112.56217194, 114.07862854,
       108.79541779, 112.82633209, 106.50601959, 106.41795349,
       108.05184174, 112.46433258, 116.45610046, 116.32379913,
       114.00104523, 113.65802765, 117.10782623, 116.83341217,
       116.88241577, 117.90169525, 117.00983429, 115.67694855,
       116.27478027, 115.00068665, 111.58027649, 112.87397003,
       113.71681976, 114.26566315, 116.67660522, 120.27345276,
       120.62627411, 120.48904419, 119.81282043, 121.28291321,
       121.90035248, 119.35217285, 120.78307343, 119.96962738,
       119.35217285, 125.33057404, 125.26196289, 126.13422394,
       124.13491058, 125.67359161, 129.25082397, 128.34918213,
       129.33908081, 133.96496582, 132.18119812, 131.05412292,
       130.04467773])

In [47]:
apple.index

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=253, freq=None)

In [48]:
#para saber el tipo de dato --> dtype
apple.dtype

dtype('float64')

In [49]:
apple.ndim

1

In [50]:
apple.shape  #253 filas y 1 columna

(253,)

In [51]:
apple.size #ojo: sí cuenta los nulos

253

### Método `sort_values()`

In [52]:
apple.sort_values() #ordena de forma ascendente

Date
2020-03-23     54.632893
2020-03-20     55.818718
2020-04-01     58.660290
2020-04-03     58.782047
2020-03-16     58.976833
                 ...
2020-12-31    130.044678
2020-12-30    131.054123
2020-09-01    131.278519
2020-12-29    132.181198
2020-12-28    133.964966
Name: Adj Close, Length: 253, dtype: float64

In [53]:
apple.sort_values().head() #method chaining

Date
2020-03-23    54.632893
2020-03-20    55.818718
2020-04-01    58.660290
2020-04-03    58.782047
2020-03-16    58.976833
Name: Adj Close, dtype: float64

In [54]:
apple.sort_values(ascending = False) #ordena de forma descendente

Date
2020-12-28    133.964966
2020-12-29    132.181198
2020-09-01    131.278519
2020-12-30    131.054123
2020-12-31    130.044678
                 ...
2020-03-16     58.976833
2020-04-03     58.782047
2020-04-01     58.660290
2020-03-20     55.818718
2020-03-23     54.632893
Name: Adj Close, Length: 253, dtype: float64

In [55]:
apple

Date
2020-01-02     72.960449
2020-01-03     72.251144
2020-01-06     72.826836
2020-01-07     72.484344
2020-01-08     73.650352
                 ...
2020-12-24    129.339081
2020-12-28    133.964966
2020-12-29    132.181198
2020-12-30    131.054123
2020-12-31    130.044678
Name: Adj Close, Length: 253, dtype: float64

Con el método `sort_values()` **NO MODIFICAMOS** nuestra serie original. Para hacer el cambio permanente --> `inplace = True`

In [56]:
apple.sort_values(ascending=False, inplace=True)

In [57]:
apple

Date
2020-12-28    133.964966
2020-12-29    132.181198
2020-09-01    131.278519
2020-12-30    131.054123
2020-12-31    130.044678
                 ...
2020-03-16     58.976833
2020-04-03     58.782047
2020-04-01     58.660290
2020-03-20     55.818718
2020-03-23     54.632893
Name: Adj Close, Length: 253, dtype: float64

### Método `value_counts()`

In [59]:
iris

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [60]:
iris.value_counts() # frecuencias absolutas

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [62]:
#frecuencias relativas / porcentajes
iris.value_counts()/150*100

species
setosa        33.333333
versicolor    33.333333
virginica     33.333333
Name: count, dtype: float64

In [64]:
iris.value_counts(normalize=True)*100

species
setosa        33.333333
versicolor    33.333333
virginica     33.333333
Name: proportion, dtype: float64

In [66]:
'setosa' in iris.values

True

In [67]:
'setosa' in iris #Porque busca en el índice.

False

In [68]:
iris[0]

'setosa'

### Acceder a valores de una pandas Series

In [69]:
#quiero acceder a más de uno --> pasarle una lista
iris[[2,8,10]]

2     setosa
8     setosa
10    setosa
Name: species, dtype: object

In [70]:
iris[10:100] #el segundo argumento es NO INCLUSIVO

10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
         ...
95    versicolor
96    versicolor
97    versicolor
98    versicolor
99    versicolor
Name: species, Length: 90, dtype: object

In [71]:
iris[:50] #desde el inicio hasta el 49

0     setosa
1     setosa
2     setosa
3     setosa
4     setosa
5     setosa
6     setosa
7     setosa
8     setosa
9     setosa
10    setosa
11    setosa
12    setosa
13    setosa
14    setosa
15    setosa
16    setosa
17    setosa
18    setosa
19    setosa
20    setosa
21    setosa
22    setosa
23    setosa
24    setosa
25    setosa
26    setosa
27    setosa
28    setosa
29    setosa
30    setosa
31    setosa
32    setosa
33    setosa
34    setosa
35    setosa
36    setosa
37    setosa
38    setosa
39    setosa
40    setosa
41    setosa
42    setosa
43    setosa
44    setosa
45    setosa
46    setosa
47    setosa
48    setosa
49    setosa
Name: species, dtype: object

In [72]:
iris[-10:] #últimos 10 elementos

140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, dtype: object

In [73]:
apple[-10:]

Date
2020-03-24    60.113968
2020-03-18    60.062820
2020-03-25    59.782810
2020-04-02    59.639141
2020-03-19    59.602627
2020-03-16    58.976833
2020-04-03    58.782047
2020-04-01    58.660290
2020-03-20    55.818718
2020-03-23    54.632893
Name: Adj Close, dtype: float64

In [78]:
apple.tail(10)

Date
2020-03-24    60.113968
2020-03-18    60.062820
2020-03-25    59.782810
2020-04-02    59.639141
2020-03-19    59.602627
2020-03-16    58.976833
2020-04-03    58.782047
2020-04-01    58.660290
2020-03-20    55.818718
2020-03-23    54.632893
Name: Adj Close, dtype: float64

In [74]:
apple.max()

133.9649658203125

In [75]:
apple.min()

54.63289260864258

In [76]:
apple.mean() #promedio

93.14899883345653

In [77]:
apple.median() #mediana o percentil 50

89.48969268798828

In [88]:
apple.mode()

0     88.898827
1    119.352173
Name: Adj Close, dtype: float64

## Métodos `idxmax()`  e `idxmin()` y `count()`

In [79]:
apple.idxmax() # me da el índice donde ocurre el máximo

Timestamp('2020-12-28 00:00:00')

In [80]:
apple.idxmin() # me da el índice donde ocurre el mínimo

Timestamp('2020-03-23 00:00:00')

In [82]:
apple.count() #cuenta los valores NO NULOS

253

In [83]:
import numpy as np

In [84]:
lista = [1, np.nan, 3, 4]
lista

[1, nan, 3, 4]

In [85]:
s1 = pd.Series(lista)
s1

0    1.0
1    NaN
2    3.0
3    4.0
dtype: float64

In [86]:
s1.count() #cuenta los NO NULOS

3

In [87]:
s1.size #sí cuenta los nulos

4

In [89]:
s1.value_counts(dropna = False)

1.0    1
NaN    1
3.0    1
4.0    1
Name: count, dtype: int64

In [90]:
s1.value_counts()

1.0    1
3.0    1
4.0    1
Name: count, dtype: int64

In [ ]:
## fin clase 10 junio 2024

## Ejemplo: Machine learning y Pandas

In [ ]:
iris = pd.read_csv("iris.csv")
iris.head()

In [ ]:
try:
    import sklearn
    print(f"scikit-learn version: {sklearn.__version__}")
except ImportError:
    print("scikit-learn is not installed")

In [ ]:
#!pip install scikit-learn

In [ ]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

df = iris
df['target'] = label_encoder.fit_transform(df['species'])
df.drop('species',inplace=True,axis=1)
df.head()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']],
                                                       df['target'], random_state=0)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(max_depth = 2, 
                             random_state = 0)
clf.fit(X_train, Y_train)

In [ ]:
from sklearn import tree
import matplotlib.pyplot as plt

tree.plot_tree(clf)

In [ ]:
fn=['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']
cn=['setosa', 'versicolor', 'virginica']
fig, axes = plt.subplots(nrows = 1,ncols = 1,figsize = (4,4), dpi=300)
tree.plot_tree(clf,
               feature_names = fn, 
               class_names=cn,
               filled = True)

### Extrayendo mediante las ETIQUETAS del índice

Usaremos el siguiente archivo `iris_id.csv`

In [2]:
#También podemos usar la sintaxis:

#Cuando usamos etiquetas del índice, el límite superior SÍ está incluido.

In [ ]:
## método .get() sobre una Serie

In [ ]:
#IMPORTANTE: si alguna llave/índice no lo encuentra, get() NO REGRESA NADA
# pARA ello podemos cambiar la condición default dentro del método:

In [ ]:
# Notar que podemos modificar nuestra serie 'apple' para que tenga el índice numérico estándar usando 
# la función range()

### Explicación de `range()`
La función `range()` en Python se utiliza para generar una secuencia de números. Es comúnmente usada en bucles `for` para iterar sobre una secuencia de números. `range()` puede tomar uno, dos o tres argumentos:

- **Inicio**: El valor inicial de la secuencia (inclusive). Si se omite, por defecto es 0.
- **Fin**: El valor final de la secuencia (exclusivo). Este argumento es necesario.
- **Paso**: La diferencia entre cada número en la secuencia. Si se omite, por defecto es 1.

La función `range()` devuelve una secuencia inmutable de números entre los valores de inicio y fin.

#### Ejemplos de `range()`
- `range(5)` genera números del 0 al 4.
- `range(1, 5)` genera números del 1 al 4.
- `range(1, 10, 2)` genera los números 1, 3, 5, 7, 9.

#### Uso de `range()` en Bucles `for`

- Un `for`loop se utiliza para iterar sobre una secuencia (como una lista, tupla o string), u otros objetos iterables
- Syntaxis: 
    
    `for` elemento `in` secuencia:
        # haz algo con ese elemento

In [ ]:
range(1,5)

In [3]:
# Iterando de 0 a 4

In [ ]:
# Iterando de  1 a 4

## Método apply()

In [ ]:
pd.read_csv('boston_house_prices.csv')

In [4]:
#MEDV (median value) = valor/ precio de la propiedad

In [ ]:
house = pd.read_csv('boston_house_prices.csv', usecols=['id','MEDV'], index_col='id').squeeze()
house.head()

In [ ]:
# Definamos una función que, según el valor (MEDV) de la vivienda diga si el precio es:
# 'bajo' si precio < 17.025
# 'medio' si precio entre 17.025 y 25
# 'alto' si precio > 25