In [ ]:
#contacto Alexis Caballero
# correo: alexisuza@gmail.com
# num celular: 55 4085 3651

# Introducción a python

## Tipos de datos

In [1]:
#enteros : 3
#float: 1.618, 3.14, 1.5 , etc...
#string: "abcd" “hola“
#boolean: True or False

In [5]:
print("hoy es 5 de junio")

hoy es 5 de junio

In [6]:
False

False

In [7]:
True

True

In [8]:
type(False) #El tipo de dato con el que estoy tratando

bool

In [11]:
type(True)

bool

In [12]:
type(5)

int

In [13]:
type("5")

str

In [14]:
5 > 8

False

In [15]:
4<=4

True

In [16]:
5 < 7

True

In [17]:
4==4

True

In [18]:
type(1.86)

float

In [19]:
4!=4 #para comparar si son diferentes

False

## Operadores

In [21]:
5+5

10

In [22]:
7.5 +2.5

10.0

In [24]:
#concatenar strings usando el operador +
"café "+"azúcar"

'café azúcar'

In [25]:
(3+5)*5

40

In [26]:
3+5*5

28

In [29]:
"repite "*2

'repite repite '

In [30]:
"-"*40

'----------------------------------------'

In [31]:
3/4

0.75

In [32]:
10//3 #elimina decimales

3

In [33]:
4/5

0.8

In [34]:
4//5

0

In [35]:
#módulo o residuo
4%2

0

In [36]:
34%4

2

In [37]:
"agua" == "Agua"

False

In [38]:
"agua" == "agua"

True

In [39]:
edad = 20

In [40]:
edad

20

In [41]:
edad*2

40

In [42]:
nombre = "Eduardo"
apellido = "García"

In [54]:
nombre + apellido

'EduardoGarcía'

In [55]:
nombre +" "+ apellido

'Eduardo García'

In [44]:
type(nombre)

str

In [49]:
edad

24

In [50]:
edad + 4

28

In [51]:
edad = edad + 4
edad

28

In [52]:
type(edad)

int

## Funciones Nativas

In [56]:
len("cuantos caracteres hay en esta frase?")

37

In [57]:
#convertir a un string
str(25)

'25'

In [58]:
int("23") #convertir a un entero

23

In [60]:
float("1.618") #convertir a un float

1.618

In [61]:
type(edad)== type(5)

True

In [62]:
type(edad)== type(1.625)

False

In [63]:
type("1.34")== type(1.34)

False

In [64]:
int(1.9999)

1

In [66]:
abs(5)

5

Valor absoluto de un número x es abs(x) = x, si x>=0 , abs(x)= -x si x<0

## Funciones ad-hoc

In [36]:
#Podemos incorporar la lógica específica que necesitamos para resolver un problema
#Ejemplo:
# 1. Función que nos calcula la velocidad (v). donde v = d/t, con d distancia y t tiempo.
# 2. Función que tome como argumento la tempratura expresada en Fahrenheit y nos devuelva la temperatura en Celsius.

In [37]:
#forma general de una función en Python:
def nombre_de_la_funcion(parametros):
    #lógica de la función
    return resultado
#aquí ya estoy fuera de la función

In [67]:
def velocidad(d,t):
    v = d/t
    return v

In [68]:
velocidad(100,2)

50.0

In [69]:
#Función que tome como argumento la tempratura expresada en Fahrenheit y nos devuelva la temperatura en Celsius.

# temp F --> temp C:  (F-32)/1.8

def celsius(temp_f):
    temp_c = (temp_f -32)/1.8
    return temp_c

In [70]:
celsius(32)

0.0

In [71]:
celsius(100)

37.77777777777778

In [72]:
#Podemos indicar el valor por default del argumento de una función en case de que este NO se especifique

def velocidad_2(d=0, t=1):
    v = d/t
    return v

In [73]:
velocidad_2(100,2)

50.0

In [74]:
velocidad_2()

0.0

## Métodos para Strings

In [45]:
# Un método es una función que pertenece a un objeto específico.
# Está directamente asociado a un objeto.
# Un string es un objeto INMUTABLE (no puede cambiar). i.e. siempre que invoquemos un método sobre un String, EL
# OBJETO NO CAMBIA, cada operación produce un objeto NUEVO.

In [75]:
puesto = "data scientist"

In [76]:
puesto.upper() #convierte a mayúsculas

'DATA SCIENTIST'

In [78]:
puesto

'data scientist'

In [79]:
puesto.title()

'Data Scientist'

In [80]:
puesto.capitalize()

'Data scientist'

In [85]:
puesto ="dATA sCIENTIST"

In [88]:
puesto

'dATA sCIENTIST'

In [87]:
puesto.swapcase()

'Data Scientist'

In [ ]:
#recordar que podemos acceder a la documentación de una función usando Shift + tab

In [ ]:
#otros métodos:
 #swapcase(): cambia mayusc por minusc y viceversa
 # title(): afecta la primera letra de CADA PALABRA
 # capitalize(): afecta la primera letra del string

In [84]:
whos

Variable      Type        Data/Info
-----------------------------------
apellido      str         García
celsius       function    <function celsius at 0x1173d6a20>
edad          int         28
nombre        str         Eduardo
pd            module      <module 'pandas' from '/o<...>ages/pandas/__init__.py'>
puesto        str         dATA sCIENTIST
velocidad     function    <function velocidad at 0x1173d79c0>
velocidad_2   function    <function velocidad_2 at 0x117ff4ae0>

In [89]:
#strip(): nos quita espacios en blanco
"  agua  ".lstrip()

'agua  '

In [90]:
"  agua  ".rstrip()

'  agua'

In [91]:
"  agua  ".strip()   #leading and trailing spaces

'agua'

In [92]:
#Un método también admite argumentos. Por ejemplo, el método replace()
puesto = "Data Scientist"
puesto

'Data Scientist'

In [95]:
puesto.replace("Scientist", "Analyst") #primer argumento es "old", segundo es "new" (el valor nuevo que queremos)

'Data Analyst'

In [96]:
puesto = "   Data Scientist   "

In [97]:
#Queremos:
#1. quitar espacios
#2. reemplazar "Scientist" por "Analyst"

In [98]:
puesto.strip().replace("Scientist", "Analyst")  #method chaining o encadenamiento de métodos

'Data Analyst'

In [64]:
# lo anterior se justifica porque puesto.strip() me devuelve un String y por tanto puedo aplicarle replace() y todos
# los métodos aplicables sobre un str.

In [99]:
"Data" in puesto

True

In [100]:
"data" in puesto

False

In [101]:
puesto

'   Data Scientist   '

## Lista

In [67]:
# Una lista es una estructura de datos MUTABLE que contiene una colección ORDENADA de elementos / objetos
# Las listas se construyen con square brackets []
# guarda elementos en un orden específico. También se conocen como arreglos en otros lenguajes
# Las listas deben, idealmente, ser de un solo tipo de datos.

In [102]:
#Lista vacía:
[]

[]

In [103]:
bol = [True, True, False, False]

In [104]:
bol

[True, True, False, False]

In [105]:
type(bol)

list

In [106]:
enteros = [1,3,5,7]

In [107]:
personas = ["luis", "karla", "Ricardo"]

In [108]:
personas

['luis', 'karla', 'Ricardo']

In [109]:
#Supongamos queremos agregar un elemento a la lista de personas --> usamos el método append()

personas.append("Lucía")
personas

['luis', 'karla', 'Ricardo', 'Lucía']

In [110]:
#supong queremos eliminar el ÚLTIMO elemento
personas.pop()

'Lucía'

In [111]:
personas

['luis', 'karla', 'Ricardo']

In [112]:
#remove(): para quitar un elemento específico:
personas.remove("luis")
personas

['karla', 'Ricardo']

In [116]:
personas.remove(personas[1]) #aquí la eliminación por índice o posición

In [117]:
personas

['karla']

In [ ]:
#recordar: usamos una lista cuando queremos guardar objetos en cieto ORDEN.

In [ ]:
#fin clase 5 jun 2024