## Slicing

En Python, el índice `numérico estándar` empieza en **`cero`**

In [1]:
palabra = "palabra"

In [2]:
len(palabra)

7

In [3]:
palabra[0]

'p'

In [4]:
palabra[6] # para acceder al último elemento ponemos un valor igual a len -1

'a'

In [6]:
palabra[-1] #acceder al último elemento del string

'a'

In [5]:
palabra[7]

IndexError: string index out of range

Los elementos de una lista también están **indexados** y por tanto podemos acceder a ellos de la misma manera:

In [7]:
actores = ["luis G. Méndez","Ana C. Talancón","Gael García", "Diego" ]

In [8]:
actores[0]

'luis G. Méndez'

In [9]:
actores[3]

'Diego'

In [12]:
# Para extraer más de un elemento a la vez:
actores[1:4]

['Ana C. Talancón', 'Gael García', 'Diego']

`actores[posición inicial INCLUSIVA: posición final NO INCLUSIVA]`

In [13]:
actores[2:4]

['Gael García', 'Diego']

In [14]:
actores[0:2]

['luis G. Méndez', 'Ana C. Talancón']

In [17]:
actores[:2] #desde el primer elemento hasta el n-1 (en este caso n=2)

['luis G. Méndez', 'Ana C. Talancón']

In [18]:
actores[2:] #desde el que tiene el índice 2 hasta el final

['Gael García', 'Diego']

Muchas veces no es suficiente contar con un solo elemento. Para obtener un corte "sucesivo", usamos:
```python
"slicing"[ini:fin]
```

`fin`es el número del primer índice que **no** se estaría considerando.

In [19]:
# c u a d e r n o
# 0 1 2 3 4 5 6 7
"cuaderno"[1:4]

'uad'

In [20]:
palabra

'palabra'

In [21]:
palabra[1:-2]

'alab'

In [22]:
#otros métodos

In [23]:
enteros = [1,2,3,4,5]

In [24]:
type(enteros)

list

In [25]:
sum(enteros)

15

In [29]:
sorted(enteros, reverse=True)

[5, 4, 3, 2, 1]

In [30]:
matematicos = ["Gauss", "Fermat", "Fourier", "Euler" ]
físicos = ["Newton", "Einstein", "Maxwell", "Heisenberg" ]

In [32]:
matematicos + físicos

['Gauss',
 'Fermat',
 'Fourier',
 'Euler',
 'Newton',
 'Einstein',
 'Maxwell',
 'Heisenberg']

## Ejercicio

In [124]:
# Escribe una función que calcule la suma : 1+2+3+4+5+....+n 
# Recordar que:
# 1+n = n+1
# 2+(n-1)= n+1
# 3+(n-2) = n+1
# .
# .
# .
# n/2+(n/2)+1 = n+1, si n es par,
# entonces: tengo n/2 pares que suman n+1 --> la suma es n(n+1)/2

# 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
# 10,9, 8, 7, 6, 5, 4, 3, 2,  1

# (10*11)/2 --> 55; Generalizando: n(n+1)/2

In [33]:
def suma_primeros_consecutivos(n):
    res = n*(n+1)/2
    return res

In [34]:
suma_primeros_consecutivos(100)

5050.0

In [35]:
suma_primeros_consecutivos(1000)

500500.0

In [36]:
## Una ecuación de caída libre : t = sqrt(2h/g)
# es el tiempo que tarda en caer un objeto a una distancia h
# (1/2)gt^2 = h

# Función para calcular la altura a la que se dejó caer un objeto si tardó t segundos:
def calcula_altura(t):
    h= 0.5*9.81*t**2
    return h

In [37]:
calcula_altura(4)

78.48

In [41]:
# string --> list
"ejemplo de string".split()

['ejemplo,de,string']

In [39]:
#proceso inverso: join: list --> str
lista = ["ejemplo", "de", "lista"]
" ".join(lista)

'ejemplo de lista'

## Tuplas

### Una tuple (tupla) es una colección de valores INMUTABLES 
* se puede definir mediante una lista separada por comas
* están indexadas por enteros

In [42]:
t = 'a', 'b', 'c', 'd'
t

('a', 'b', 'c', 'd')

In [43]:
type(t)

tuple

In [44]:
l = [1,2,3,4]
tuple(l)

(1, 2, 3, 4)

In [45]:
t_2 = ('a','b', 1,2)

In [46]:
t_2

('a', 'b', 1, 2)

In [48]:
t[2]

'c'

## Conjuntos

## Un conjunto (set) es una colección no ordenada de valores únicos. 
* A|B (Unión): Elementos en A o en B
* A ^ B (instersección): Elementos en A **y** B
* A-B (Diferencia): elementos en A no presentes en B
* Diferencia simétrica: elementos en cualquiera de los conjuntos A o B, más no en los dos.
* A <= B (Subconjunto): si todos los elementos en A se encuentran en B.

In [49]:
vocales = {'a', 'e', 'i', 'o', 'u'}
p = {'c', 'a', 'r', 'o'}

In [50]:
type(vocales)

set

In [51]:
p & vocales #intersección

{'a', 'o'}

In [52]:
p|vocales #unión

{'a', 'c', 'e', 'i', 'o', 'r', 'u'}

In [53]:
vocales - p

{'e', 'i', 'u'}

In [54]:
p - vocales

{'c', 'r'}

## Diccionarios

1. Una colección NO ORDENADA de pares: llave - valor
2. Es mutable
3. Las keys (llaves) DEBEN SER únicas, los valores NO.

In [55]:
#ejEMPLO: artículos de vestir:
arts = {
    "jeans": 899,
    "playera": 700,
    "shorts": 499,
    "zapatos": 1200
}

# la longitud de un diccionario es equivalentre al número de pares del mismo

In [56]:
type(arts)

dict

In [57]:
len(arts)

4

In [58]:
arts["jeans"]

899

In [59]:
arts["blusa"] #error: porque queremos acceder a una llave que NO EXISTE

KeyError: 'blusa'

In [60]:
arts[1]

KeyError: 1

In [61]:
arts

{'jeans': 899, 'playera': 700, 'shorts': 499, 'zapatos': 1200}

In [73]:
"bufanda" in arts

False

In [74]:
"jeans" in arts

True

In [79]:
"jeans" in arts

True

In [83]:
700 in arts #por qué? porque busca en las llaves del diccionario, no en sus valores

False

In [80]:
# Si quiero agregar un elemento debo hacer llave <-> valor
arts["chanclas"] = 200
arts

{'jeans': 899, 'playera': 700, 'shorts': 499, 'zapatos': 1200, 'chanclas': 200}

In [81]:
# para quitar un valor, al igual que con las listas, usamos el método pop()

arts.pop("chanclas")

200

In [82]:
arts

{'jeans': 899, 'playera': 700, 'shorts': 499, 'zapatos': 1200}

In [71]:
arts.keys()

dict_keys(['jeans', 'playera', 'shorts', 'zapatos'])

In [72]:
arts.values()

dict_values([899, 700, 499, 1200])

## Puedo checar también en los VALORES

1. Usamos el `método values( )`

In [84]:
700 in arts.values()

True

In [85]:
140 in arts.values()

False

### Nota: Si **no me importa el orden pero SÍ LA ASOCIACIÓN**, un diccionario es una estructura ideal.

In [86]:
arts.items()

dict_items([('jeans', 899), ('playera', 700), ('shorts', 499), ('zapatos', 1200)])

## Pandas Series

1. Crearemos series de pandas de una lista
2. Idem pero de un diccionario.

In [ ]:
# pip install pandas

In [87]:
import pandas as pd

#### Serie (Series): Arreglo etiquetado de UNA dimensión. Como una columna de datos.
* importante: consistencia; i.e. mismo tipo de datos.
* Usamos el método Series() para... crear una serie
* Series() es un método constructor

In [88]:
paises = ["Mex","EUA","Francia","UK","Portugal"] #una lista
s = pd.Series(paises)
s

0         Mex
1         EUA
2     Francia
3          UK
4    Portugal
dtype: object

In [ ]:
# vemos en la "segunda"  columna nuestros valores
# dtype = object, en pandas significa ppalmente string
# tenemos un índice. Este puede ser de cualquier tipo, NO SOLO NUMÉRICO
# Por default, nos da  un índice que empieza en cero (el índice numérico estándar)

In [89]:
pares = [2,4,6,8,10]
p = pd.Series(pares)
p

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [90]:
l_2 = [True, True, False, True]
b = pd.Series(l_2)
b

0     True
1     True
2    False
3     True
dtype: bool

In [ ]:
## Creando una serie de un diccionario

In [92]:
dic = {"película": "RF9", "genero": "Acción", "año": 2021}
s1 = pd.Series(dic)
s1

película       RF9
genero      Acción
año           2021
dtype: object

In [ ]:
# las llaves del dic conforman el índice de nuestra serie

### Intro Metodos y Atributos de Series

* en una serie los valores del índice NO NECESITAN ser únicos
* Atributos: nos dan información del objeto, no la modifican.

In [93]:
ciudades = ["CDMX","GDL","Milan","Londres"]
cds = pd.Series(ciudades)
cds

0       CDMX
1        GDL
2      Milan
3    Londres
dtype: object

In [94]:
cds.values #los atributos no requieren paréntesis

array(['CDMX', 'GDL', 'Milan', 'Londres'], dtype=object)

In [95]:
cds.index

RangeIndex(start=0, stop=4, step=1)

In [96]:
saldos = [-35, 20.9, 40, 550]
s = pd.Series(saldos)
s

0    -35.0
1     20.9
2     40.0
3    550.0
dtype: float64

In [97]:
#método suma()
s.sum()

575.9

In [98]:
s.abs() #valor absoluto

0     35.0
1     20.9
2     40.0
3    550.0
dtype: float64

In [99]:
s.mean() #promedio o media

143.975

In [100]:
s.std()

272.5476151060581

In [101]:
alimento = ["pescado", "res", "pavo"]
dias = ["lu", "ma", "mie" ]
pd.Series(alimento, dias)

lu     pescado
ma         res
mie       pavo
dtype: object

In [102]:
pd.Series(index=dias, data = alimento)

lu     pescado
ma         res
mie       pavo
dtype: object